body {
	font-family:"Benton Sans Light", "BentonSans-Light", "Benton Sans Medium", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
	}
.availabilityLink:hover, a:hover, .btn-link:hover {
	color:#ff5d1c !important;
	}
.btn-default {
	background-color:#000;
}
